body{
	-webkit-user-select: none;
}
.header{
	box-shadow: 1px 1px 10px #d9dadc;
	background: white;
}
.header img{
	vertical-align: middle;
	padding: 10px 0px;
	margin-left: 200px;
}
.header span{
	vertical-align: middle;
	padding-left: 20px;
}
body{
	background: #eeeeee;
}

.container{
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
}
.sidebar-wrapper{
	float: left;
	width: 20%;
	height: 600px;
	border-right: 1px solid #ddd;
}

.sidebar-nav li{
	text-align: center;
	padding: 10px 0px;
}
.sidebar-nav li:last-of-type{
	background: #0093ff;
}

.sidebar-nav li:last-of-type a{
	text-decoration: none;
	color: white;
}

.sidebar-nav li span{
	padding-left: 10px;
	line-height: 20.8px;
}

.content h2{
	padding: 10px 0px;
	font-weight: bold;
}

.content{
	float: left;
	width: 70%;
}
.content h2,.nav-tabs li{
	margin-left: 30px;
}
.tab-pane{
	margin-left: 30px;
}
#uploadFile{
	opacity: 0;
	cursor: pointer 
}

.modal-body{
	text-align: center;
}

.modal-body img{
	width: 100%;
}

.btn-group{
	margin-top: 30px;
	display: block;
	overflow: hidden;
}

.btn-group span{
	line-height: 33px;
	padding-left: 15px;
	color: #949494;
}
.custom-modal{
	width: 80%;
}

.comment{
	margin-top: 50px;
}
.comment input{
	display: block;
	margin-top: 30px;
	border: none;
	background: #eeeeee;
	outline: none;
}

.btn_group{
	margin-top: 100px;
}

.btn_group button{
	padding: 5px 20px;
	margin-right: 15px;
}

.table tbody{
	vertical-align: top;
	color: #949494;
}

.table tbody a{
	color: #0093ff;
}

.canvas{
	position: absolute;
	border: 1px dotted gray;
	box-sizing: content-box;
}
.modal-body{
	padding: 0px;
}



.control{
	width: 20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
}

.left_top{
	position: absolute;
	top: -10px;
	left: -10px;
}


.right_top{
	position: absolute;
	top: -10px;
	right: -10px;
}

.left_bottom{
	position: absolute;
	bottom: -10px;
	left: -10px;
}

.right_bottom{
	position: absolute;
	bottom: -10px;
	right: -10px;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
}

.modal_2{
	overflow: hidden;
}

.modal_2 img{
	width: 100%;
}

.pre_1{
	float: left;
	width: 30%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 5px 5px 10px #eeeeee;
}

.pre_2{
	width: 30%;
	float: right;
	margin-right: 10%;
	margin-top: 50px;
}
.pre_2 img{
	width: 100%;
}

.navbar_1{
	margin-top: 30px;
	width: 80% !important;
	text-align: center;
}


.cutImage{
	display: none;
}


.cutImage_1{
	display: none;
}

.modal-footer{
	position: relative;
	z-index: 10000;
}

.cut{
	text-align: left;
}

.hidden_div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	display: none;
	background-color: white;
	width: 500px;
	box-sizing: border-box;
	padding-left: 2rem;
	padding-bottom: 1rem;
}

.close_div{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 10px;
}

.close_div img{
	width: 100%;
	cursor: pointer;
}